
      <h1 class="title">Area Gestione Utenti  - Modifica utente</h1>
      <form class="form-horizontal" action="#" th:action="@{/Utenti/Edit}" th:object="${utente}"  method="POST" >
        <fieldset>
            <!-- Form Name -->
            <legend>Aggiorna i dati utente:</legend>
                <div class="field">
                  <label class="label">Id</label>
                  <div class="control">
                      <input readonly="true" id="txtId"  th:field="*{id}" name="txtId" type="text" placeholder="id" class="input ">
                  </div>
                </div>
            <!-- Text input-->
            <div class="field">
              <label class="label" for="txtEmail">Email</label>
              <p class="control has-icons-left has-icons-right">
                <input id="txtEmail"  th:field="*{email}" name="txtEmail" type="text" placeholder="inserisci la mail utente" class="input ">
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                <span class="icon is-small is-right"><i class="fas fa-check"></i></span>
                <span th:if="${#fields.hasErrors('email')}" class="help is-danger" th:errors="*{email}">Errore</span>   
             </p>
            </div>

            <!-- Password input-->
            <div class="field">
              <label class="label" for="txtPassword">Password</label>
              <div class="control">
                  <p class="control has-icons-left">
                <input id="txtPassword" th:field="*{password}" name="txtPassword" type="text" placeholder="inserisci la password utente" class="input " required="">
                 <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                <p class="help">minimo 6 caratteri</p> <span th:if="${#fields.hasErrors('password')}"  class="help is-danger" th:errors="*{password}">Errore</span>
                  </p>
                </div>
            </div>

<!-- Select Basic -->
<div class="field">
  <label class="label" for="ddlStato">Attivazione utente</label>
  <div class="control">
  	<div class="select">
	    <select id="ddlStato" th:field="*{stato}" name="ddlStato" class="">
	      <option value="0">Attivo</option>
	      <option value="1">Non Attivo</option>
	    </select>
	</div>
  </div>
</div>

<!-- Select Basic -->
<div class="field">
  <label class="label" for="ddlRuolo">Selezionare il ruolo</label>
  <div class="control">
  	<div class="select">
	    <select id="ddlRuolo" th:field="*{ruolo}" name="ddlRuolo" class="">
	      <option value="0">Utente</option>
	      <option value="1">Amministratore</option>
	    </select>
	</div>
  </div>
</div>

<!-- Button -->
<div class="field">
  <label class="label" for="btnNuovoUtente"></label>
  <div class="control">
    <button id="btnNuovoUtente"  type="submit" name="btnNuovoUtente" class="button is-primary">Aggiorna Dati</button>
  </div>
</div>

</fieldset>
</form>
